<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Handling Form Submission</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Headache Diary Form</h1>
    <form action="#" th:action="@{/headachediary}" th:object="${diaryform}" method="post">
    	<p>Month:
    		<select>
    			<option th:each="month : ${diaryform.getMonth()}" th:text="${month}"></option>
    		</select>
    	</p>
    	<p>Day: <input type="text" th:field="*{day}"></p>
    	<p>Headache: <input type="text" th:field="*{headache}"/></p>
    	<p>Aura: <input type="text" th:field="*{aura}"/></p>
    	<p>Period: <input type="text" th:field="*{period}"/></p>
    	<p>Life Style: <input type="text" th:field="*{lifestyle}"/></p>
    	<p>Treatment: <input type="text" th:field="*{treatment}"/></p>
    	<p>Effectiveness: <input type="text" th:field="*{effectiveness}"/></p>
    	<div>Stable Preventive
    		<table>
    			<thead>
    				<tr>
			   			<th>Desc</th>
			   			<th>Doses</th>
			   		</tr>
			   	</thead>
			   	<tbody>	
	    			<tr th:each="sp : ${diaryform.getStableprev()}">
	    				<td><input type="text" th:value="${sp.value}"/></td>
						<td><input type="text" th:value="${sp.key}" /></td>
					</tr>
				</tbody>
			</table>
    	</div>
    	
    	<div>New Preventive
    		<table>
    			<thead>
    				<tr>
    					<th>Desc</th>
    					<th>Doses</th>
    				</tr>
    			</thead>
    			<tbody>
    				<tr th:each="nw :${diaryform.getNewprev()}">
    					<td><input type="text" th:value="${nw.value}"/></td>
    					<td><input type="text" th:value="${nw.key}"/></td>
    				</tr>	
    			</tbody>
    		</table>
    	</div>
    	<p>Notes: <input type="text" size="50px" th:field="*{notes}"/></p>
    	<p><input type="submit" value="OK"/> <input type="reset" value="Reset"/></p>
    </form>
</body>
</html>
